appdirs==1.4.4
asn1crypto==0.24.0
Babel==2.5.1
cffi
chardet==3.0.4
click
configobj==5.0.6
cryptography==2.3
decorator==4.2.1
distlib==0.3.2
Flask==2.0.1
gunicorn==20.1.0
idna==2.5
importlib-metadata==4.5.0
importlib-resources==5.1.4
iniparse==0.4
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
MarkupSafe==2.0.1
oauthlib==2.1.0
ply==3.9
prettytable==0.7.2
requests==2.20.0
rpm
selinux
six==1.11.0
sos
typing-extensions==3.10.0.0
urllib3==1.24.2
virtualenv==20.4.7
Werkzeug==2.0.1
zipp==3.4.1
